
.contact{
    position: fixed;
    bottom: 0;
    right: 0;
}
div h2{
    color:silver;
    margin-left: 100px;
    margin-top: 100px;
    font-size: 25px;
    line-height: 2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
div P{
    color: white;
    margin-left: 100px;
    margin-top: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2;
}